* {
  margin: 0;
  padding: 0;
}
/*
Dark Mode
*/

$bg-dark: rgba(30, 30, 30, 0.5);
$bg_Task: rgba(44, 44, 44, 1);
$bg_btn: #3caf55;
$bg_input: #fff;
$color_text: #000;
$bgcontrallers_Dark: #fff;
$Text_color: #d8dee9;
$textwhite: rgb(24, 133, 42);

$mainColor: #9e78cf;
$MoonColor: rgba(29, 24, 37, 1);

/*

Light mood*/
$bg-Light: #fff;
$bgcontrallers_Light: #000;

/*


/*Dark mode*/
//App

.Home {
  color: $Text_color;
  .Controllers {
    background-color: $bgcontrallers_Dark;
    width: 10%;
    svg {
      font-size: 3rem;
      color: #fff;
    }
    .fa-sun {
      color: orange;
    }
    .fa-moon {
      color: $MoonColor;
    }
  }
  .filter {
    background-color: $bgcontrallers_Dark;
    gap: 10px;
    color: #000;
  }
  .Sort {
    background-color: $bgcontrallers_Dark;
    gap: 10px;
    color: #000;
  }
  .TaskInput {
    ::placeholder {
      color: black;
    }
    input {
      background-color: $bg_input;
      border-color: $mainColor;
      color: $color_text;
      font-size: 25px;
    }
    button {
      background-color: $bg_btn;
    }
  }
}

//TaskList
.Tasks {
  color: $color_text;
}
.task {
  background-color: $bg_dark;
  color: $Text_color;
  font-size: 25px;
}

.icons {
  .x {
    cursor: pointer;
  }
}

//Done Comppent
.DoneTasks {
  color: #000;
  .Donetask {
    background-color: $textwhite;
    color: #fff;
    font-size: 25px;
  }
}
/*Dark Mode*/

/*Lgiht Mode*/

// body {
//   background-color: $bg_darkColor !important;
// }
// .Home {
//   background-color: $darkColor;
//   color: white;
//   .Controllers {
//     background-color: white;
//     width: 10%;
//     svg {
//       font-size: 3rem;
//       color: #fff;
//     }
//     .fa-sun {
//       color: orange;
//     }
//     .fa-moon {
//       color: $darkColor;
//     }
//   }
//   .TaskInput {
//     ::placeholder {
//       color: #fff;
//     }
//     input {
//       background-color: inherit;
//       border-color: $mainColor;
//       color: #fff;
//     }
//     button {
//       background-color: $mainColor;
//     }
//   }
// }

//TaskList
// .task {
//   background-color: #15101c;
//   color: $mainColor;
// }
// .Donetask {
//   background-color: #15101c;
//   color: inherit;
// }
// .icons {
//   .x {
//     cursor: pointer;
//   }
// }

// //Done Comppent
// .DoneTasks {
//   color: $DoneColor;
//   .Donetask {
//     background-color: #15101c;
//     color: inherit;
//   }
// }

/*Lgiht Mode*/
